// Colors
$primary: #0069ff;
$primary-hover: darken($primary, 5);
$success: #11a95e;
$success-hover: darken($success, 5);
$secondary: #127c43;
$secondary-hover: #0aac55;
$danger: #d91d1d;
$danger-hover: darken($danger, 5);
$warning: #f56109;
$warning-hover: darken($warning, 5);
$background: #fff;
$border: #f1f1f1;
$text: #333;
$heading: #222;
$panel: #fafafa;
$muted: rgba($text, .75);
$header: #003f99;
$header-hover: darken($header, 5);

// Fonts
$font-size: 16px;
$font-family: 'Proxima Nova', 'proxima-nova', 'Helvetica Neue',
'Helvetica', 'Arial', sans-serif;
$font-weight: 400;
$line-height: 1.5;
$disabled: .5;

// Borders
$border-size: 1px;
$thin-border: $border-size solid $border;
$border-radius: 3px;

// Transition
$transition-speed: 250ms;
$transition-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
$transition: $transition-speed $transition-bezier;

// Sizing
$height: 48px;
$margin: 16px;
