.no-search {
  align-items: center;
  background: linear-gradient(to bottom, hsla(0, 0%, 100%, .7) 0%, hsla(0, 0%, 100%, .5) 90%, hsla(0, 0%, 100%, 0) 100%);
  display: flex;
  flex-direction: column;
  height: auto;
  left: 0;
  padding: 0 0 10%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  h2 {
    background: hsla(0, 0%, 100%, .2);
    color: #505159;
    margin: 0;
    padding: $margin * 2;
  }

  .graphic {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    svg {
      max-width: 90%;
      width: 512px;
    }
  }
}
