$table-border-size: 2px;
$table-border: $table-border-size solid $border;

table.table {
  border-spacing: 0;
  border: $table-border;
  border-radius: $border-radius;
  box-shadow: none;
  table-layout: unset;
  margin: 0;

  thead {
    th {
      vertical-align: bottom;
      font-weight: 600;
      background: $panel;
      border: none;
      padding: ($margin / 2) $margin;
      text-align: left;

      .is-with-border & {
        border-right: $table-border;

        &:last-child {
          border-right: 0;
        }
      }
    }
  }

  tr {
    display: table-row;
    box-shadow: none;
    border: 0 none;
    margin-bottom: 0;
    padding: 0;
    background: $background;

    td {
      text-align: left;
      vertical-align: top;
      border: $table-border;
      border-width: $table-border-size 0 0;
      padding: $margin;

      .is-with-border & {
        border-right-width: $table-border-size;

        &:last-child {
          border-right: 0;
        }
      }

      p {
        margin: 0;
      }
    }
  }
}
