.no-search {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  padding: 0 0 10%;
  background: linear-gradient(to bottom, hsla(0, 0%, 100%, 0.7) 0%, hsla(0, 0%, 100%, 0.5) 90%, hsla(0, 0%, 100%, 0) 100%);

  h2 {
    padding: $margin * 2;
    margin: 0;
    background: hsla(0, 0%, 100%, 0.2);
    color: #505159;
  }

  .graphic {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;

    svg {
      width: 512px;
      max-width: 90%;
    }
  }
}
